.custom-input-file {
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 18px;
    margin: -10 auto -10;
    min-height: 15px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    border:1px dashed #D7DBDD;
}
  
.custom-input-file .input-file {
   border: 10000px solid transparent;
   cursor: pointer;
   font-size: 10000px;
   margin: 0;
   opacity: 0;
   outline: 0 none;
   padding: 0;
   position: absolute;
   right: -1000px;
   top: -1000px;
}